<form id="event-delete" method="post" action="{{ path('app_project_event_delete', {'code': event.project.code, 'id': event.id}) }}" onsubmit="return confirm('{{ 'common.ask_confirmation'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
</form>
