<form id="project-delete" method="post" action="{{ path('app_project_delete', {'code': project.code}) }}" onsubmit="return confirm('{{ 'common.ask_confirmation'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
</form>
